body{
    background-image:url("image.jpg");
    background-repeat:no-repeat;	
    background-size:cover;  }
#header{
	text-decoration: underline;
	text-transform: capitalize;
	text-shadow: 2px 2px 5px red;
}
.abc1{
	padding-left:15px;
}
#para1{
   font-family: verdana;  }
#city{
    border-radius: 10px;
    background-color:LightPink;
}   
#button1,#button2{
  cursor: pointer;
  color: pink;
  background-color:purple;
}
#frstnme,#lstnme,#usrnme,#pswrd,#eml{
  border: 2px solid RebeccaPurple;
  border-radius: 2px;
  margin: 4px;
  box-sizing: border-box;
  background-color:PapayaWhip;
  padding: 02px 02px;
}
#book1,#book2,#book3{
	margin:4px;
} 
